/* You can add global styles to this file, and also import other style files */
@import './globalOverrides.scss';
$bgColor: green;

::ng-deep.my-slider .mdc-slider__thumb .mdc-slider__thumb-knob {
    border: 3px solid rgb(255, 0, 0);   
  }
::ng-deep .mdc-slider__track {
    background-color: $bgColor;
  }
 ::ng-deep .mat-primary .mdc-slider__track--active_fill {
    background-color: #00a716;
    border: 0px solid #FFFFFF !important; /* Removes border from active track */
    border-radius: 3px;
}